/* header */
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    height: 20px;
}
.header-block {
    height: 96px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFFFFF;
}
.button-black {
    background-color: black;
    color: #F3F3F3;
    border: none;
    border-radius: 32px;
    width: 100px;
    height: 48px;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.1px;
}
.li {
    line-height: 19.36px;
    color: black;
    font-size: 16px;
    letter-spacing: 0.1px;
    width: 44px;
}
.burger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    display: none;
}
.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}
.burger-menu:hover .bar {
    background-color: #555;
}
.burger-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
.navigation {
    width: 328px;
}
.positions {
    padding-top: 96px;
}